# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: publish-npm
permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

#on:
#  push:
#    tags: ["v*.*.*"]

on:
  push:
    branches: ["main"]
jobs:
  publish-npm:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: package
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 24
        env:
          working-directory: package/
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: actions/setup-node@v3
        with:
          node-version: 24
          scope: "@laine-hallot"
          registry-url: https://npm.pkg.github.com
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Publish
        run: npm publish
